<div class="row">
  <div class="col-md-12">
    <p>Add new Servers or blueprints!</p>
    <div class="form-group">
      <label>Server Name </label>
      <!-- <input type="text" class="form-control" [(ngModel)]= "newServerName"> -->
      <input type="text"
      class="form-control" 
      #serverNameInput>
    </div>
    <br>
    <div class="form-group">
      <label>Server Content </label>
      <!-- <input type="text" class="form-control" [(ngModel)]= "newServerContent"> -->
      <input type="text"
      class="form-control"
      #serverContentInput>
    </div>
    <br>
    
    <button
      class="btn btn-primary"
      (click)="onAddServer(serverNameInput)">Add Server</button>
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
  </div>